.projectsContainer{
  display:grid;
  margin: 2vh 1vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:20px;
  width:100%;
  grid-auto-flow: row;
  justify-items: stretch;
  text-align: center;
  align-items: center;
}
.cardContainer{
  display:flex;
  flex-direction: column;
  justify-content:start;
  text-align:left;
  align-content: center;
  /* box-shadow: 4px 4px #8f8f8f; */
  border-radius: 5px;
  background-color: #ffffff;
  max-width: 400px;
  font-family: Poppins;
  padding: 14px 14px;
  transition: all 0.2s ease-out;
}
.cardContainer:hover{
  cursor:pointer;
  transform: translate(0px,-15px)
}
.cardContainer h2{
  font-family:Poppins;
}
.cardContainer img{
  display:block;
  max-width: 300px;
  max-height:200px;
  width: auto;
  height: auto;
}
.cardContainer > *{
  color: black;
  margin: 5px 8px;
}
