@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.topContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100vw;
    padding-top: 2vh;
}
.header{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.header > div {
    margin : 0vw 2vw 0vw 2vw;
}
.navBar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 0.1vw black solid;
    padding: 2vh;
}
.sticky{
    position:fixed;
    top:0;
    width:100%;
    z-index: 2;
    background-color: hsl(0, 0%, 98%);
}
.navBar > div{
    min-width: 200px;
}
.is-clickable{
    cursor: pointer;
}
.hwbsvgDiv{
    height:50%;
    width:50%;
    min-width: 400px;
}
.socialDivs{
    display:flex;
    justify-content: center;
    align-items: center;
}
a{
    height:min-content;
    width:min-content;
}
p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    vertical-align: center;
    font-size: 1.5em;
}

.socialLogos{
    height:12vh;
    width:12vh;
    min-height:80px;
    min-width:80px;
    transition: opacity 0.5s;
    opacity:0.8;
    color:#455A64;
}
.socialLogos:hover{
    opacity: 1;
}
.links{
    color:#455A64;
}
.links:hover{
    font-weight: 600;
    text-shadow: 0.2vw 0.2vw rgb(201, 201, 201) ;
    transition: text-shadow 0.5s;
    transition-timing-function: ease-out;
}
