.mainCard{
    height: 100%;
    align-self: flex-start;
    /* width: 80%; */
    /* background-color: rgb(67, 124, 144); */
    /* border: 2px black;
    border-style: solid; */
    align-items: center; 
    justify-self: center;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}
.contentCard{
    width:80%;
}
.background{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.is-clickable{
    cursor: pointer;
}
